@model EntityLayer.Concrete.Skill

@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.SkillID, new { @class = "form-control" })

        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SkillName, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Yetenek Değeri")
        @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SkillValue, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-outline-success">Kaydet</button>
    </div>
}

